/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* MY CODE */

* {
  text-decoration: none;
}

body{
}

/* HEADER */

header{
  position: fixed;
  background: #fff;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index:99;
}

header .header-logo{
  text-align: center;
  margin-top: 10px;
  padding-left: 10px;
  float: left;
}

header .header-brand{
  font-family: Catamaran;
  font-size: 24px;
  font-weight: 900;
  color: #111;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  margin: 31px 0;
  text-align: left;
  line-height: 38px;
  padding: 0 20px 0 5px;
  border-right: 3px solid #111;
  float: left;
}

header nav ul{
  display: flex;
  padding: 0;
  margin: 20px 0px 0px 20px;
  float: left;
}

header nav ul li{
  list-style: none;
  padding: 0 16px;
  line-height: 60px;
}

header nav ul li a{
  font-family: Catamaran;
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

header nav ul li:hover{
  text-decoration: none;
  color: #111;
  background-color: #e5e5e5;
  line-height: 60px;
}

header nav ul li a:hover{
  text-decoration: none;
  color: #111;
}

.menu-toggle{
  color: #111;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  padding-top: 20px;
  display: none;
}

/* DROPDOWN */

.dropbtn {
    display: block;
    font-family: Catamaran;
    background-color: #fff;
    color: #111;
    padding: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 50px;
    width: 200px;
}

.dropdown {
    position: left;
    display: block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    left: auto;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.dropdown-content a:hover {
  background-color: #e5e5e5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ccc;
}

@media (max-width: 1200px) {

  .dropdown
  {
    display: none;
  }

}
@media (max-width: 1000px) {

  header
  {
    padding: 0;
  }

  .menu-toggle
  {
    display: block;
    padding: 25px 20px;
  }

  header nav
  {
    float: right;
    position: absolute;
    width: 100%;
    height: calc(300vh - 50px);
    background: #fff;
    top: 90px;
    left: -100%;
    transition: 0.5s;
  }

  header nav.active
  {
    left: 0;
  }

  header nav ul
  {
    text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

  header nav ul:hover{
    background-color: #fff;
  }


}

/* RETUTN to TOP ARROW */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15px;
    top: 13px;
    font-size: 23px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

@media (max-width: 960px) {

  #return-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.7);
      width: 35px;
      height: 35px;
      display: block;
      text-decoration: none;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      border-radius: 35px;
      display: none;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
  }

  #return-to-top i {
      color: #fff;
      margin: 0;
      position: relative;
      left: 11px;
      top: 9px;
      font-size: 15px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
  }


}

/* INDEX - BANNER */

.index-banner {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('../img/banner-blog.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.vertical-center{
  display: table-cell;
  vertical-align: middle;
}

.index-banner h2{
  font-family: Catamaran;
  font-size: 50px;
  font-weight: 900;
  line-height: 60px;
  color: #111;
  text-align: center;
  /* text-shadow: 2px 2px #fff;*/
  opacity: 1 !important;
}

.index-banner h1{
  font-family: Cormorant Garamond;
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  line-height: 40px;
  color: #111;
  text-align: center;
  /* text-shadow: 2px 2px #fff;*/
}


/* INDEX - LINKS */

.index-links div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100px;
  background-color: #f2f2f2;
}

.index-links div h3{
  font-family: Catamaran;
  font-size: 28px;
  font-weight: 600;
  line-height: 100px;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 950px) {

  .wrapper{
    width: 85%;
    margin: 0 auto;
  }

  .index-banner{
    height: 450px;
  }

  .index-banner h1{
    display: block;
    width: 560px;
    margin: 0 auto;
  }

  .index-links {
    padding-bottom: 20px;
    overflow: hidden;
  }

  .index-links div {
    margin: 40px 10px 0;
    height: 250px;
    float: left;
  }

  .index-boxlink-square{
    width: calc(25% - 20px) !important;
  }

  .index-boxlink-rectangle{
    width: calc(50% - 20px) !important;
  }

  .index-links div h3{
    line-height: 250px;
  }

}

@media (max-width: 400px) {

  .index-banner {
    margin-top: 70px;
  }

  .index-banner h2{
    padding-top: 20px;
    font-size: 43px;
  }

}

/* SERVICES */
.container-title{
  margin-left: 8%;
}

.section-subtitle{
  margin-top: 20px;
  margin-bottom: 7px;
  padding-left: 7px;
  font-size: 54px;
  line-height: 1;
  text-transform: uppercase;
  color: #111;
  border-left: 10px solid #e6e6e6;
  font-size: 600;
  font-family: Catamaran;
 }


.section-main-title{
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 45px;
  line-height: 1.27;
  font-weight: 300;
  font-family: Catamaran;
}

.section-main-title strong{
    font-weight: 900;
}

.servicebox{
  padding: 20px 45px;
  border-radius: 5px;
  text-align: left;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.servicebox:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #242424;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  transition: all 0.5s ease 0s;
}

.servicebox:hover:before {
   left: 0;
}

.servicebox:after{
  content: "";
  width: 7px;
  height: 0px;
  border-radius: 5px;
  background: orange;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease 0s;
}

.servicebox:hover:after {
  height: 100%;
}

.servicebox .service-icon {
  color: #414243;
  margin-bottom: 10px;
  transition: all 0.5s ease 0s;
}

.servicebox .service-icon ion-icon,
.servicebox .service-icon i{
  font-size: 30px;
}


.servicebox .title{
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 10px;
}

.servicebox .description{
  font-size: 15px;
  color: #777;
  line-height: 25px;
  transition: all 0.5s ease 0s;
}

.servicebox a{
  text-decoration: none;
}

.servicebox:hover .service-icon,
.servicebox:hover .description{
  color: white;
}


@media only screen and (max-width: 950px) {
  .container-title{
    margin-left: 2%;
  }

}


/* COUNTING UP */

.stat{
  background: #3a3a3a;
  padding-top: 0px;
  padding-bottom: 80px;
  color: white;
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 120px;
}

.stat i,
.stat ion-icon{
  font-size: 45px;
}

.fa-code,
.fa-bug{
  font-size: 40px !important;
}

.stat-items{
  display: block;
  margin-top: 20px;
}

.stat-items h2{
  font-weight: bolder;
  font-size: 32px;
  color: orange;
  margin-top: 10px;
}

.stat p{
  margin-top: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #b2b2b2;
}

@media only screen and (max-width: 1360px) {
  .stat{
    margin-left: 0px;
    margin-right: 0px;
  }

}
/* FOOTER */

#myFooter{
    padding-top:32px;
}

#myFooter .container{
    text-align: center;
}

#myFooter .footer-copyright{
    margin-bottom: 35px;
    text-align: center;
    color: #b2b2b2;
}

#myFooter ul{
    list-style-type: none;
    padding-top: 10px;
    margin-bottom: 18px;
}

#myFooter a{
    color: #fff;
    font-size: 18px;
}

#myFooter li{
    display: inline-block;
    margin: 0px 15px;
    line-height: 2;
}

#myFooter .footer{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #3a3a3a;
}

#myFooter .fab,
#myFooter .fas{
    font-size: 36px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #d0d0d0;
    border-radius: 51%;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition:color 0.2s;
}

#myFooter .fa-github{
    font-size: 42px;
}

#myFooter .fa-github:hover{
  color:#333;
}

#myFooter .fa-github:focus{
  color:#333;
}

#myFooter .fa-instagram:hover{
  color:#7232bd;
}

#myFooter .fa-instagram:focus{
  color:#7232bd;
}

#myFooter .fa-envelope{
    font-size: 30px;
}

#myFooter .fa-envelope:hover{
    color: #ea4335;
}

#myFooter .fa-envelope:focus{
    color:#ea4335;
}
