<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title> C++ Code | Base Class </title>
    <link rel="shortcut icon" href="/img/favicon.ico" width="70">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900|Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css"> -->
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/personal_icon.css">
      <link rel="stylesheet" href="/res/prism_themes/prism-monokai.css">
      <link rel="stylesheet" href="template.css">

  </head>
  <body>

    <!-- Navbar -->
    <div id="include_navbar"></div>


    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="fas fa-chevron-up"></i></a>

    <!--  -->
    <main>

    <br><br><br><br><br><br>
    <div class="container">
      <article role="article">
    		<h3> Base Class Template </h3>
        <p> </p>

<div class="row-full code">
  <pre><code class="language-cpp line-numbers">
/**
  @file   Base.h
  @brief  Header for Base Class
*/

#ifndef	BASE_DEF__
#define	BASE_DEF__


#include  < iostream >
#include  < stdio.h >

using namespace std;

/**
  @class  Base
  @brief  This is the top-most hierarchical level class
*/

class Base
{
  /// Local variable
  int age;

  public:
  /// @name CONSTRUCTORS/DESTRUCTOR
  /// @{

  /// Default constructor
  Base();

  /// Copy constructor
  Base( Base & X);

  /// Init constructor
  Base(int value);

  /// Destructor
  ~Base();
  //@}

  /// @name OPERATORS
  /// @{

  /// Assignment operator
  void  operator = (Base &X);

  /// Comparison operator
  bool  operator == (Base &X);
  //@}

  /// @name INTERFACE
  /// @{

  /// Interface polymorph function
  virtual void  PrintStatus();

	//virtual  void	PrintStatus();
  //@}

  /// @name DEBUGGING
  /// @{

  void  Dump();
  //@}
};

#endif

  </code></pre>
</div>

<div class="row-full code">
  <pre><code class="language-cpp line-numbers">
/**
  @file   Base.cpp
  @brief  Implementation file for Base Class
*/

#include "Base.h"

///////////////////////////////////////////////////////
// Default constructor

Base::Base()
{
  cout << "Base default constructor"<< endl << flush;
  age = 0;
}

///////////////////////////////////////////////////////
// Copy constructor

Base::Base( Base & X)
{
  cout << "Base copy constructor"<< endl << flush;
  age = X.age;
}

///////////////////////////////////////////////////////
// Init constructor

Base::Base(int value)
{
  cout << "Base init constructor"<< endl << flush;
  age = value;
}

///////////////////////////////////////////////////////
// Destructor

Base::~Base()
{
  cout << "Base destructor"<< endl << flush;
}

///////////////////////////////////////////////////////
// Assignment operator

void Base::operator = (Base &X)
{
  age = X.age;
}

///////////////////////////////////////////////////////
// Comparison operator

bool Base::operator == (Base &X)
{
  if (age == X.age)
    return true;

  return false;
}

///////////////////////////////////////////////////////
//  Debug

void Base::Dump()
{
  cout << "BASE OBJECT : "
       << "Age = " << age << endl << flush;
}

///////////////////////////////////////////////////////
//  Polymorph interface fucntion

void Base::PrintStatus()
{
  cout << "** [Base]  age = " << this->age << endl << flush;
}
  </code></pre>
</div>
    	</article>



      </div>
    </main>

    <footer id="myFooter">
      <div class="footer">
        <a href="https://github.com/CaptainMich" class="social-icons"><i class="fab fa-github"></i></i></a>
        <a href="https://twitter.com/_CaptainMich" class="social-icons"><i class="fab fa-twitter"></i></a>
        <a href="mailto:captain.mich96@gmail.com" class="social-icons"><i class="fas fa-envelope"></i></a>

          <ul>
              <li><a href="#">Site Information</a></li>
              <li><a href="#">Contact me</a></li>
              <li><a href="#">Reviews</a></li>
              <li><a href="#">Terms of service</a></li>
          </ul>
          <p class="footer-copyright">© 2018 Mich, Inc. All rights reserved.</p>
      </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>
    <script type="text/javascript" src="/res/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/js/return_to_top_arrow.js"></script>
    <script type="text/javascript" src="/res/prism_themes/prism.js"></script>

    <!-- Import HTML -->
    <script>
      $("#include_navbar").load("/html_import/navbar.html", function(){

        // function to activate the hamburger menu
        $('.menu-toggle').click(function(){
          $('nav').toggleClass('active');
        });
      });
    </script>

  </body>
</html>
